.input-form{
    color: #5C5C5C;
    font-size: 14px;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    border: 1px solid #C4C4C4;
    padding: 8px;
    margin-top: 20px;
}

.input-form::placeholder{
    color: #C0C1C4;
}

.aviso-input{
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
    font-size: 15px;
}   