@import url('https://fonts.googleapis.com/css?family=Raleway:300,500%7CRoboto+Condensed:300,700%7CRoboto:400i,500%27');

html,body{
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  position: relative;
  background-color: #E5E5E5;
}

*{
  box-sizing: border-box;
}

input:focus{
  outline: thin dotted;
  outline: 0px auto;
  outline-offset: 0px;
}